.app-header, .selector {
  text-align: center;
}
.App {
  width: 80%;
  max-width: 1100px;
  margin: auto;
}

.form-wrap {
  width: 100%;
  max-width: 768px;
  margin: auto;
}

.row {
  display: flex;
}

.row div {
  display: flexbox;
  justify-content: space-between;
  width: 32%;
}
